<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <title>Polygen</title>
</head>

<body>

<h1>Polygen</h1>


<img id="ref_image" src="/ref">

<img class="preview_img" src="/image/0?cachebust=FOO">
<img class="preview_img" src="/image/1?cachebust=FOO">
<img class="preview_img" src="/image/2?cachebust=FOO">
<img class="preview_img" src="/image/3?cachebust=FOO">
<img class="preview_img" src="/image/4?cachebust=FOO">
<img class="preview_img" src="/image/5?cachebust=FOO">
<img class="preview_img" src="/image/6?cachebust=FOO">
<img class="preview_img" src="/image/7?cachebust=FOO">
<img class="preview_img" src="/image/8?cachebust=FOO">
<img class="preview_img" src="/image/9?cachebust=FOO">

<script type="application/javascript">
    function doPoll(){
        var d = new Date().getTime();

        $('img[class="preview_img"]').each(function(index,item){
            var src = $(item).attr('src');
            src = src.replace(/cachebust=.*$/gi, "cachebust=" + d);
            $(item).attr('src', src);
        });

        setTimeout(doPoll, 1000);
        console.log("updated image...")
    }

    doPoll();
</script>
</body>
</html>
