<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <title>Polygen</title>
</head>

<body>

<h1>Polygen</h1>


<img id="ref_image" src="/ref">
<img id="image" src="/image">


<script type="application/javascript">

    function doPoll(){
        $('#image').attr('src','/image#' + new Date().getTime());
        setTimeout(doPoll, 1000);
        console.log("updated image...")
    }

    doPoll();

</script>
</body>
</html>
